body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
}

.user-block {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    width: 50%;
    height: 30%;
}

.user-block:hover {
    transform: scale(1.05);
}

.user-info {
    margin-bottom: 10px;
}

.user-block button {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.user-block button:hover {
    background-color: #2980b9;
}

.user-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 20px;
}

.post-block {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    width: 50%;
}

.post-block:hover {
    transform: scale(1.05);
}

.post-block button {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.post-block button:hover {
    background-color: #2980b9;
}

#post-details,
#comments {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    box-sizing: border-box;
}

.comment-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.comment-block {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.comment-block:hover {
    transform: scale(1.05);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}